.chat-app {
  width: 100%;
  height: 100%;
  display: flex;

  .no-content-message {
    color: #cccccc;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin: 20px;
  }

  .channel-list {
    width: calc(20% - 12px);
    border: 1px solid rgb(224, 224, 224);
    margin: 10px;
    margin-right: 0;
    border-right: none;
    height: calc(100% - 22px);
  }

  .channel-item-selected {
    background-color: #fff;
  }

  .channel-item {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px;
    border-radius: 0px 10px 10px 0px;

    div {
      font-weight: bold;
    }

    span {
      font-size: 10px;
    }

    &:hover {
      background-color: rgb(224, 224, 224);
      cursor: pointer;
    }
  }

  .messages-panel {
    width: calc(80% - 12px);
    border: 1px solid rgb(224, 224, 224);
    margin: 10px;
    margin-left: 0;
    height: calc(100% - 22px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .meesages-list {
      align-self: stretch;
      max-height: 90vh;
      height: 100%;
      overflow-y: auto;

      .message-item {
        padding: 10px 20px;
        margin: 10px 20px;
        border-radius: 10px;
        background-color: #fff;
        width: 80%;
        margin-right: auto;

        .username {
          margin-bottom: 14px;
          display: flex;
          align-items: center;
          b {
            margin-right: 10px;
            text-transform: capitalize;
          }
          span {
            font-size: 14px;
          }
        }
      }

      .message-item-own {
        width: 80%;
        margin-left: auto;
        margin-right: 20px;
      }

      .welcome-msg {
        text-align: center;
        padding: 10px 0px;
      }
    }

    .messages-input {
      width: 100%;
      height: 10vh;
      border-top: 1px solid rgb(224, 224, 224);
      padding: 40px 10px;
      background-color: #fff;
      display: flex;

      input {
        margin: auto;
        width: 100%;
        margin-left: 15px;
        border-radius: 10px;
        border: 1px solid rgb(224, 224, 224);
        padding: 10px 20px;

        &:focus {
          border: 2px solid #66a6ff;
          outline: none;
        }
      }

      button {
        margin: auto 10px;
        background-color: #0e62da;
        color: white;
        border: 1px solid;
        border-radius: 10px;
        padding: 10px 20px;

        &:hover {
          cursor: pointer;
          background-color: #66a6ff;
        }

        &:disabled {
          background-color: grey;
          cursor: default;
        }
      }
    }
  }
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: olive;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: olive;
  // background: var(--dark-color-b);

  .btn-flex {
    display: flex;

    button {
      border: 1px solid grey;
      background-color: #fff;
      transition: 0.2s all;

      &:hover {
        background-color: #f0f0f0;
      }

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  color: olive;
}
